body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


.container{
    display: flex;
    height: 64px;
    background-color: white;
    z-index: 100;
    position: fixed;
    width: 100%;
    margin-top: 0px;
}

div.logo{
    display: inline-flex;
    line-height: 32px;
    padding-left: 24px;
}

.logo img{
    width: 40px;
}

.logo p{
    font-size: 24px;
    margin:0px;
    padding-top: 16px;
}

.navbar{
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    line-height: 32px;
    margin-right: 8px;
}

ul{
    display: inline-flex;
}

li{
    display: inline-flex; 
    text-decoration: none; 
    padding-right: 16px
}

/*Start Here Sections*/
.banner{
    background-color: lightgray;
    padding-top: 64px;
    display: flex;  
}

.banner img{
    width: 60%;
    padding: 32px 24px;
    margin-right:0px;
}

div.button{
    width: 100%;
    text-align: center;
    padding: 70px 0px;
}


/*Main left*/
#main{
  background-color: white;
  display: flex;  
  padding: 32px 0px 0px 24px;
  margin-bottom: 32px
}

.left{
    display: inline-block;
    width: 60%;
}

.left img{
    width: 100%;
}

.left h1 {
    padding-top: 32px;
    margin: 0px;
    padding-bottom: 24px;
}

.left h4{
    margin: 0px;
}

.left h5{
    padding-top: 24px;
    margin: 0px;
}

/*Main right*/

.right{
    float: right;
    display: inline-block; 
    width: 40%; 
    margin-left: 24px;
    
}

div.feature, div.feature2, div.feature3{
    display: inline-flex;
    border: 1px solid lightgray;
    width: 100%;
}

img.image{
    padding: 0px 16px 16px 16px;
    width: 35%;
}

img.image2, img.image3{
    padding: 16px 16px 16px 16px;
    width: 35%;
}

div.feature3{
    background-color: lightgrey;
}

span{
    color: cornflowerblue
}

.text h2, .text p {
    margin-bottom: 8px;
}

.text h2{
    padding-top: 20px;
}


/* Start Learning Section */


div.learning{
    margin: 0px;
    background-color: lightgray;
    padding: 32px 72px;
}

.learning h1{
    text-align: center;
    padding-bottom: 32px;
    margin: 0px;
}

.learning div {
    display: flex;
    margin-right: 0px;
}

#course{
    display: inline-flex;
    margin-bottom: 32px;
}

#course img{
    height: auto;
    width: 100%;
    align-content: center; 
   
}

#course h2{
    padding-left: 16px;
    margin-bottom: 8px;
}

#course p{
    padding-left: 16px;
    margin: 0px;
}

#course h4{
    padding-left: 16px;
    margin-bottom: 8px;
}

div.course, .course div, div.course2, .course2 div, div.course3, .course3 div{
    display: inline-block;
    background-color: white;
    padding-bottom: 12px;
}

div.course{
    margin-right: 16px;
}

div.course2{
    margin-right: 16px;
    margin-left: 16px;
}

div.course3{
    margin-left: 16px;
}

/*Thesis Exhibit*/

#thesis{
    background-color: white;
    padding: 32px 0px 32px 24px;  
}

#thesis h1{
    margin: 0px 0px 32px 0px;
    text-align: center;
}

#thesis1{
    display: inline-flex;
}

.tleft{
    width: 60%;
    margin: 0px;
    display: inline-block;
}

video {
    margin-bottom: 24px;
}

.video video{
    width: 100%;
}

.video h2 {
    margin: 0px;
    padding-bottom: 8px;
}

.video h4{
    margin: 0px;
}

.tright{
    width: 40%;
    margin: 0px 0px 0px 24px;
    display: inline-block;
}

div.fisma{
    background-color: lightgray;
    display: inline-flex;
    width: 100%;
}

div.nowandthen{
    display: inline-flex;
    width: 100%;
}

.fisma img{
    padding-top: 16px;
}

/*Footer*/
footer{
    display: inline-flex;
    padding:16px 24px 32px 16px;
    width: 100%;
    border-top:1px solid lightgray;
}

.footer p, .footer a{
    font-size: 12px;
    margin-top: 0px;
}

.footer a{
    text-decoration: none;
    padding-right: 8px;
    color: black;   
}
div.copy{
    width: 92%;

}

div.links{

    display: inline-flex;
}