body{
    margin: 0px;
}


.container{
    display: flex;
    height: 64px;
    background-color: white;
    z-index: 100;
    position: fixed;
    width: 100%;
    margin-top: 0px;
}

div.logo{
    display: inline-flex;
    line-height: 32px;
    padding-left: 24px;
}

img{
    width: 40px;
}

p{
    font-size: 24px;
    margin:0px;
    padding-top: 16px;
}

.navbar{
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    line-height: 32px;
    margin-right: 8px;
}

ul{
    display: inline-flex;
}

li{
    display: inline-flex; 
    text-decoration: none; 
    padding-right: 16px
}

.banner{
    background-color: lightgray;
    padding-top: 64px;
    display: flex;  
}

.banner img{
    width: 60%;
    padding: 32px 24px;
    margin-right:0px;
}

div.button{
    border: 1px solid red;
    width: 100%;
    text-align: center;
    padding: 70px 0px;
}



